body{
    background-color:rgb(91, 93, 197)
}

.container {
    background-color: rgb(57, 85, 245);
}

.container-fluid{
background-color: rgb(70, 73, 252);
float: inline-end;
}

.jumbotron{
    background-color: rgb(38, 38, 231);
}

.writeup{
    text-align: center;
    color: black;
}

.logo{
    color: cadetblue;
}
.ending{
    margin-top: 41px;

}