body{
    background-color:rgb(91, 93, 197)
}
.container {
    background-color: rgb(45, 27, 128);
}
.container-fluid{
background-color: rgb(12, 10, 20);
float: inline-end;
}
.jumbotron{
    background-color: rgb(38, 38, 231);
    }
.writeup{
    text-align: center;
    color: black;
}
.logo{
    color: cadetblue;
}